backend/workflows/nightly_profiler.json
{
  "name": "Habits Analyzer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "59 23 * * *"
            }
          ]
        }
      },
      "id": "a0c1fcb2-fed6-43f6-863e-f9729ba72423",
      "name": "Nightly Trigger (11:59 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -16
      ]
    },
    {
      "parameters": {
        "collection": "tasks",
        "options": {},
        "query": "{\n  \"user_id\": \"user_456\"\n}"
      },
      "id": "7fbb4e5c-96b2-4b8a-b4b9-3888f6815c52",
      "name": "Fetch Last 21 Days",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        128,
        -16
      ],
      "credentials": {
        "mongoDb": {
          "id": "tb8iGFtr3vF48hCx",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.all().map(item => {\n  let cleanTask = item.json;\n  \n  // Delete the heavy, useless data before sending to Gemini\n  delete cleanTask.embedding; \n  delete cleanTask._id;\n  \n  return cleanTask;\n});\n\nreturn { json: { task_history: JSON.stringify(tasks) } };"
      },
      "id": "1caca353-e1e2-4cf9-966b-f8e8ff540256",
      "name": "Compress Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "user_profiles",
        "updateKey": "user_id",
        "fields": "user_id, inferred_sleep_window, peak_productivity_windows, high_ignore_probability_windows, daily_burnout_threshold, weekly_hard_blocks",
        "upsert": true,
        "options": {}
      },
      "id": "da49a6f8-f174-4964-b056-6db595749cf6",
      "name": "Save User Profile",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1120,
        -16
      ],
      "credentials": {
        "mongoDb": {
          "id": "tb8iGFtr3vF48hCx",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "={{ $json.task_history }}\n\n---\nYou are a behavioral data scientist AI for LifeSyncPro. Analyze the user's 3-week task history above. Look for patterns in when tasks are 'completed' vs 'missed' based on their 'scheduled_start' times.\n\nIdentify sleep windows, peak productivity hours, times they ignore tasks, burnout limits, and weekly recurring unavailable blocks.\n\nOutput STRICTLY a raw JSON object (no markdown, no backticks, no explanations) with exactly these keys:\n{\n  \"inferred_sleep_window\": \"e.g. 00:00-08:00\",\n  \"peak_productivity_windows\": \"e.g. 10:00-12:00, 14:00-16:00\",\n  \"high_ignore_probability_windows\": \"e.g. 18:00-20:00\",\n  \"daily_burnout_threshold\": 5,\n  \"weekly_hard_blocks\": \"e.g. Friday 13:00-14:00\"\n}"
      },
      "id": "27d84562-3cb4-4cb6-8acc-a6d31bfc3164",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        608,
        -16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5f59c415-3b98-4469-9044-9bc822e34634",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        192
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YoE88NOLwRInHR5L",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\n\n// Dynamically reach back and grab the user_id from the first task we fetched!\nconst fetchedData = $('Fetch Last 21 Days').first().json;\nconst dynamicUserId = fetchedData.user_id;\n\nlet parsed;\ntry {\n  // Clean markdown if Gemini accidentally adds it\n  const cleanText = text.replace(/```json/g, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleanText);\n} catch (error) {\n  throw new Error(\"Failed to parse Gemini output as JSON: \" + text);\n}\n\nreturn {\n  json: {\n    user_id: dynamicUserId,\n    inferred_sleep_window: parsed.inferred_sleep_window,\n    peak_productivity_windows: parsed.peak_productivity_windows,\n    high_ignore_probability_windows: parsed.high_ignore_probability_windows,\n    daily_burnout_threshold: parsed.daily_burnout_threshold,\n    weekly_hard_blocks: parsed.weekly_hard_blocks\n  }\n};"
      },
      "id": "d0e8ee0d-bc5a-4ddf-a9ac-dd56b9b13d93",
      "name": "Parse JSON & Attach ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "refresh-habit-profile",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -176
      ],
      "id": "9c7cf076-d77c-4b6a-b453-b526017cbd78",
      "name": "Webhook",
      "webhookId": "7c27f86e-13c0-4005-9e31-1adf97984131",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ACvg3zdJa2F64I1A",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Nightly Trigger (11:59 PM)": {
      "main": [
        [
          {
            "node": "Fetch Last 21 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last 21 Days": {
      "main": [
        [
          {
            "node": "Compress Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Data": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse JSON & Attach ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON & Attach ID": {
      "main": [
        [
          {
            "node": "Save User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Last 21 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "46db0f01-a949-4829-9ef2-31e3f76c1202",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c250e28fcafbab121477a9d65241698e6bacdf9c8ab0799162d4f5881da04e7"
  },
  "id": "sZKLsWHtWXsD8t3o",
  "tags": []
}